# Data Science Tools and Ecosystem

In [4]:
print("In this notebook data science tools and ecosystems are summarized")

In this notebook data science tools and ecosystems are summarized

**objective**
- Learn how to use jupyter notebook
- Gain knowledge about libraries of data science
- learn how to use github

print("Some of the popular languages that data scientist used are:")
print("1.Python")
print("2.R")
print("3.SQL")
print("4.Javascript")

In [10]:
print("Some of the commonly used libraries used by data scientists include:")
print("1.Pandas ")
print("2.Numpy")
print("3.Tensor Flow")

Some of the commonly used libraries used by data scientists include:
1.Pandas
2.Numpy
3.Tensor Flow

|Data Science Tools|
|----|
|Google Colab|
|Jupyter Notebook|
|Spyder|

### Below are few expressions of evaluating arthimetic expression examples

In [2]:
print("This is simple arithematic expression to  multiply and then add numbers")
z = (3*4) + 5
print(z)

This is simple arithematic expression to  multiply and then add numbers
17

In [ ]:
print("This will convert 200 minutes into hours by dividing by 60")
min = 200
hour = 200 / 60
print(hour)

## Author
Adan Shahid